version: '3'
services:
  app:
    image: golang:1.20
    volumes:
    - .:/app
    working_dir: /app
    command: ./build
    ports:
    - "8181:8181"
    environment:
    - PORT=8181
    - POSTGRES_USERNAME
    - POSTGRES_PASSWORD
    - POSTGRES_HOST
